*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control {
    border: 1px solid #1D98C1!important;
}

.table-bordered th{
    
    border: 2px solid #4dbce0 ;
    background-color: #34a5ca;
    color: white;
    font-size: 18px;
   
    /* border-top: 2px solid #E0A800 ;
    border-left: none!important;
    border-right: none!important; */
}
.table{
    width: 100%; 
}

.card-body{
    background-color: #dadbdd;
}
.table-bordered td{
    border:2px solid #40aace;
    background-color: white;
  
}
.modalWrapper{
    border-radius: 5px;
    border: none;
}
.button-style{
    background-color: #1D98C1;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    padding: 2px 10px;

box-shadow:  5px 5px 10px #c4c4c4,
             -5px -5px 10px #ebebeb;
}
.button-style:hover{
    background-color: #046cb1;
    font-size: 18px;
}

.header-background{
    background-color: #6094FB;
}
.title-modal{
    text-align: center;
    color: white;
    font-size: 22px;

}
.updateButton{
    border-radius: 4px;
    border: 1px solid #6698fd;
    padding: 2px 10px;
    background-color: #4f8aff;
    color: white;
    font-weight: 400;
}
.updateButton:hover{
    background-color: #4377dd;
    padding: 3px 11px;
    margin-bottom: 2px;
}